services:
  auth-service:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: auth-service
    env_file:
      - ./.env.loc
    volumes:
      - ./logs:/app/logs
    ports:
      - "8080:80"
    command: >
      sh -c "poetry run alembic upgrade head &&
              poetry run uvicorn src.main:app --host 0.0.0.0 --port 80"
    # healthcheck:
    #   test: ["CMD-SHELL", "curl -f http://localhost:8000/health || exit 1"]
    #   interval: 10s
    #   timeout: 3s
    #   retries: 3
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 10
